**/.terraform*/*
**/.terraform/*
*.tfstate
*.tfstate.*
lambda_output.json

**/classes/*
**/build/*
**/bin/*
**/out/*
**/target/*
**/lib_managed/*
*.jar
*.class

*.DS_Store

*.log

.idea
*.iml
*.ipr
*.iws
